body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#editor-window {
  display: block;
  position: relative;
  height: calc(100% - 200px);
}

#editor-window canvas {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}

#editor-stack-window.resize-vertical {
  cursor: n-resize;
}

#editor-stack-window.resize-horizontal {
  cursor: e-resize;
}

#elements-window, #option-window {
  width: 150px;
}

#control-window {
  height: 200px;
}
